/docs
/.venv
__pycache__/
*.pyc
.env
.DS_Store
.vscode/
.idea/
/tests/__pycache__/
/tests/*.pyc
*/node_modules/
/dist/
/build/
/.next/
/out/
/.turbo/
/.turbo/cache/
.next/
package-lock.json
yarn.lock
pnpm-lock.yaml